/* container */
$widthContainer: 1920px;
$paddingContainer: 40px;

/* base typography */
$baseFont: 'Manrope', sans-serif;;
$baseWeight: 400;

/* colors */
$linkColor: #5a5959; /* base color for <a> */